<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" href="/images/student.ico">
	<link rel="stylesheet" type="text/css" href="/registration/css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="/registration/css/demo.css" />
	<link rel="stylesheet" type="text/css" href="/registration/css/component.css" />
	 <title>Регистрация</title>
</head>
<body>
               <% if (user!=null) { %>
              <p class ="error">Вы уже авторизоварны, и не сможете повторить процедуру</p>
                            <script>
                            function GoNah(){ 
                            location="https://m1shaowned-m1shaowned.c9.io"; 
                                          } 
                            setTimeout( 'GoNah()', 3000 ); 
                            </script>
               <% } %>
               <% if (user==null) { %>
              <section class="demo-4">
              <h2>Для продолжения - выстройте в правильном порядке блоки, чтобы получилось слово "HTML"</h2>
              <h4>Для завершения, кликните по блоку с буквой "L"</h4>
              <div class="grid LTMH">
              <div class="box L">
	<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
		<line class="top" x1="0" y1="0" x2="900" y2="0"/>
		<line class="left" x1="0" y1="460" x2="0" y2="-920"/>
		<line class="bottom" x1="300" y1="460" x2="-600" y2="460"/>
		<line class="right" x1="300" y1="0" x2="300" y2="1380"/>
	</svg>
	              <h3>L</h3>
              </div>
              <div class="box H">
		<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
			<line class="top" x1="0" y1="0" x2="900" y2="0"/>
			<line class="left" x1="0" y1="460" x2="0" y2="-920"/>
			<line class="bottom" x1="300" y1="460" x2="-600" y2="460"/>
			<line class="right" x1="300" y1="0" x2="300" y2="1380"/>
		</svg>
		<h3>H</h3>
	</div>
              <div class="box T">
		<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
			<line class="top" x1="0" y1="0" x2="900" y2="0"/>
			<line class="left" x1="0" y1="460" x2="0" y2="-920"/>
			<line class="bottom" x1="300" y1="460" x2="-600" y2="460"/>
			<line class="right" x1="300" y1="0" x2="300" y2="1380"/>
		</svg>
		<h3>T</h3>
	</div>
	<div class="box M">
		<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
			<line class="top" x1="0" y1="0" x2="900" y2="0"/>
			<line class="left" x1="0" y1="460" x2="0" y2="-920"/>
			<line class="bottom" x1="300" y1="460" x2="-600" y2="460"/>
			<line class="right" x1="300" y1="0" x2="300" y2="1380"/>
		</svg>
		<h3>M</h3>
              </div>
                            </div>
              <div class="grid HLMT">
	<div class="box H">
		<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
			<line class="top" x1="0" y1="0" x2="900" y2="0"/>
			<line class="left" x1="0" y1="460" x2="0" y2="-920"/>
			<line class="bottom" x1="300" y1="460" x2="-600" y2="460"/>
			<line class="right" x1="300" y1="0" x2="300" y2="1380"/>
		</svg>
		<h3>H</h3>
	</div>
	<div class="box L">
		<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
			<line class="top" x1="0" y1="0" x2="900" y2="0"/>
			<line class="left" x1="0" y1="460" x2="0" y2="-920"/>
			<line class="bottom" x1="300" y1="460" x2="-600" y2="460"/>
			<line class="right" x1="300" y1="0" x2="300" y2="1380"/>
		</svg>
		<h3>L</h3>
              </div>
              <div class="box T">
		<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
			<line class="top" x1="0" y1="0" x2="900" y2="0"/>
			<line class="left" x1="0" y1="460" x2="0" y2="-920"/>
			<line class="bottom" x1="300" y1="460" x2="-600" y2="460"/>
			<line class="right" x1="300" y1="0" x2="300" y2="1380"/>
		</svg>
		<h3>T</h3>
	</div>
              <div class="box M">
		<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
			<line class="top" x1="0" y1="0" x2="900" y2="0"/>
			<line class="left" x1="0" y1="460" x2="0" y2="-920"/>
			<line class="bottom" x1="300" y1="460" x2="-600" y2="460"/>
			<line class="right" x1="300" y1="0" x2="300" y2="1380"/>
		</svg>
		<h3>M</h3>
              </div>
                            </div>
              <div class="grid HTLM">
	<div class="box H">
		<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
			<line class="top" x1="0" y1="0" x2="900" y2="0"/>
			<line class="left" x1="0" y1="460" x2="0" y2="-920"/>
			<line class="bottom" x1="300" y1="460" x2="-600" y2="460"/>
			<line class="right" x1="300" y1="0" x2="300" y2="1380"/>
		</svg>
		<h3>H</h3>
	</div>
	<div class="box T">
		<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
			<line class="top" x1="0" y1="0" x2="900" y2="0"/>
			<line class="left" x1="0" y1="460" x2="0" y2="-920"/>
			<line class="bottom" x1="300" y1="460" x2="-600" y2="460"/>
			<line class="right" x1="300" y1="0" x2="300" y2="1380"/>
		</svg>
		<h3>T</h3>
	</div>
	<div class="box L">
		<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
			<line class="top" x1="0" y1="0" x2="900" y2="0"/>
			<line class="left" x1="0" y1="460" x2="0" y2="-920"/>
			<line class="bottom" x1="300" y1="460" x2="-600" y2="460"/>
			<line class="right" x1="300" y1="0" x2="300" y2="1380"/>
		</svg>
		<h3>L</h3>
              </div>
	<div class="box M">
		<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
			<line class="top" x1="0" y1="0" x2="900" y2="0"/>
			<line class="left" x1="0" y1="460" x2="0" y2="-920"/>
			<line class="bottom" x1="300" y1="460" x2="-600" y2="460"/>
			<line class="right" x1="300" y1="0" x2="300" y2="1380"/>
		</svg>
		<h3>M</h3>
              </div>
                            </div>                
              <div class="grid HTML">
	<div class="box H">
		<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
			<line class="top" x1="0" y1="0" x2="900" y2="0"/>
			<line class="left" x1="0" y1="460" x2="0" y2="-920"/>
			<line class="bottom" x1="300" y1="460" x2="-600" y2="460"/>
			<line class="right" x1="300" y1="0" x2="300" y2="1380"/>
		</svg>
		<h3>H</h3>
	</div>
	<div class="box T">
		<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
			<line class="top" x1="0" y1="0" x2="900" y2="0"/>
			<line class="left" x1="0" y1="460" x2="0" y2="-920"/>
			<line class="bottom" x1="300" y1="460" x2="-600" y2="460"/>
			<line class="right" x1="300" y1="0" x2="300" y2="1380"/>
		</svg>
		<h3>T</h3>
	</div>
	<div class="box M">
		<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
			<line class="top" x1="0" y1="0" x2="900" y2="0"/>
			<line class="left" x1="0" y1="460" x2="0" y2="-920"/>
			<line class="bottom" x1="300" y1="460" x2="-600" y2="460"/>
			<line class="right" x1="300" y1="0" x2="300" y2="1380"/>
		</svg>
		<h3>M</h3>
              </div>
              <div class="box L">
		<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
			<line class="top" x1="0" y1="0" x2="900" y2="0"/>
			<line class="left" x1="0" y1="460" x2="0" y2="-920"/>
			<line class="bottom" x1="300" y1="460" x2="-600" y2="460"/>
			<line class="right" x1="300" y1="0" x2="300" y2="1380"/>
		</svg>
		<h3>L</h3>
              </div>
                            </div>              
	</section>
              <section class="regform">
              <h1>Регистрация</h1>
              <div id="container_reg">
	              <form method="post" action="/signup">
		<label for ="login">Логин</label>
		<input name="login" type="login" required>
		<label for ="password">Пароль</label>
		<input name="password" type="password"required>
		<label for ="email">Email</label>
		<input name="email" type="login" required>
			<div id="lower">
				<input type="checkbox" required>
				<label class="check" for="checkbox">Я соглашаюсь с условиями</label>
				<input type="submit" value="Готово">
				<a class="rules" href="/guest">Пользовательского соглашения</a>
		              </div>
		</form>
               </div>
               </section>
               <% } %>
<script src="/js/jquery-2.1.3.js"></script>
<script src="/registration/js/registration.js"></script>
</body>
</html>
</div>
